tech_news_digest_workflow_V3.json
{
  "name": "Daily Tech News Digest - Energy & IoT Focus",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://webrazzi.com/feed/",
        "options": {}
      },
      "id": "rss-webrazzi",
      "name": "RSS - Webrazzi",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        450,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://www.aa.com.tr/tr/rss/default?cat=bilimteknoloji",
        "options": {}
      },
      "id": "rss-aa-teknoloji",
      "name": "RSS - AA Teknoloji",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.shiftdelete.net/feed",
        "options": {}
      },
      "id": "rss-shiftdelete",
      "name": "RSS - ShiftDelete",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        450,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "id": "rss-techcrunch",
      "name": "RSS - TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        450,
        500
      ]
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "id": "rss-theverge",
      "name": "RSS - The Verge",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        450,
        600
      ]
    },
    {
      "parameters": {
        "url": "https://feeds.arstechnica.com/arstechnica/index",
        "options": {}
      },
      "id": "rss-arstechnica",
      "name": "RSS - Ars Technica",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        450,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/feed/",
        "options": {}
      },
      "id": "rss-mittr",
      "name": "RSS - MIT Tech Review",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        450,
        800
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-all-feeds",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        650,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Son 24 saatteki haberleri filtrele\nconst now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nconst recentNews = $input.all().filter(item => {\n  const pubDate = new Date(item.json.pubDate || item.json.isoDate);\n  return pubDate >= yesterday;\n});\n\n// Rastgele karıştır (çeşitlilik için)\nconst shuffled = recentNews.sort(() => Math.random() - 0.5);\n\n// İlk 30 haberi al (Gemini filtrelemesi için)\nconst topNews = shuffled.slice(0, 30);\n\nreturn topNews.map(item => ({\n  json: {\n    title: item.json.title,\n    link: item.json.link,\n    description: item.json.contentSnippet || item.json.description || '',\n    pubDate: item.json.pubDate || item.json.isoDate,\n    source: item.json.creator || item.json['dc:creator'] || 'Unknown'\n  }\n}));"
      },
      "id": "filter-recent-news",
      "name": "Filter Recent News (24h)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tüm haberleri tek bir prompt'a hazırla\nconst allNews = $input.all();\n\nconst newsText = allNews.map((item, index) => {\n  return `[${index + 1}]\nBaşlık: ${item.json.title}\nAçıklama: ${item.json.description}\nKaynak: ${item.json.source}\n---`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    newsText: newsText,\n    allNews: allNews\n  }\n}];"
      },
      "id": "prepare-for-gemini",
      "name": "Prepare for Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAHZOSgeGXJ69RUTk9hORI4pHAIh4EW-5Y"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Sen bir teknoloji haber editörüsün. Aşağıdaki haberler arasından sadece enerji sektörü, IoT (Internet of Things), yenilenebilir enerji, akıllı şehirler, endüstriyel otomasyon, yapay zeka + enerji kesişimi, teknolojik yenilikler, önemli yatırım/fonlama haberleri ile ilgili EN ÖNEMLİ 5-15 haberi seç.\\n\\nKRİTERLER:\\n- Enerji sektörüne doğrudan veya dolaylı etkisi olan haberler\\n- IoT teknolojileri ve uygulamaları\\n- Büyük teknoloji şirketlerinin stratejik hamleleri\\n- Yenilikçi startup'lar ve fonlama haberleri\\n- Endüstri 4.0, akıllı sistemler\\n- Sadece clickbait veya önemsiz haberler seçme\\n\\nSadece seçtiğin haberlerin numaralarını virgülle ayrılmış şekilde ver. Örnek: 1,5,7,12,15\\n\\nHABERLER:\\n\" + $json.newsText\n    }]\n  }]\n}) }}",
        "options": {}
      },
      "id": "gemini-filter",
      "name": "Gemini API - Filter News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gemini'nin seçtiği haber numaralarını parse et\nconst geminiResponse = $input.first().json;\nconst responseText = geminiResponse.candidates[0].content.parts[0].text;\n\n// Numaraları çıkar (örn: \"1,5,7,12,15\")\nconst selectedIndices = responseText.match(/\\d+/g).map(num => parseInt(num) - 1);\n\n// Önceki adımdan tüm haberleri al\nconst allNews = $('Prepare for Gemini').first().json.allNews;\n\n// Seçilen haberleri filtrele\nconst selectedNews = selectedIndices.map(index => allNews[index]).filter(Boolean);\n\nreturn selectedNews;"
      },
      "id": "parse-gemini-selection",
      "name": "Parse Gemini Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "const selectedNews = $input.all();\n\n// HTML email oluştur\nlet emailHTML = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f4f4; padding: 20px; }\n    .container { max-width: 800px; margin: 0 auto; background-color: white; padding: 30px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px; margin-bottom: 30px; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .header p { margin: 5px 0 0 0; opacity: 0.9; }\n    .news-item { border-left: 4px solid #667eea; padding: 15px; margin-bottom: 20px; background-color: #f9f9f9; border-radius: 5px; }\n    .news-item h2 { margin: 0 0 10px 0; font-size: 18px; color: #333; }\n    .news-item p { margin: 0 0 10px 0; color: #666; line-height: 1.6; }\n    .news-item .meta { font-size: 12px; color: #999; margin-bottom: 10px; }\n    .news-item a { display: inline-block; background-color: #667eea; color: white; padding: 8px 15px; text-decoration: none; border-radius: 5px; font-size: 14px; }\n    .news-item a:hover { background-color: #764ba2; }\n    .footer { text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #e0e0e0; color: #999; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🚀 Günlük Teknoloji Özeti</h1>\n      <p>Enerji & IoT Odaklı | ${new Date().toLocaleDateString('tr-TR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</p>\n    </div>\n`;\n\nselectedNews.forEach((item, index) => {\n  const description = item.json.description.substring(0, 300) + (item.json.description.length > 300 ? '...' : '');\n  emailHTML += `\n    <div class=\"news-item\">\n      <div class=\"meta\">#${index + 1} • ${item.json.source}</div>\n      <h2>${item.json.title}</h2>\n      <p>${description}</p>\n      <a href=\"${item.json.link}\" target=\"_blank\">Haberi Oku →</a>\n    </div>\n  `;\n});\n\nemailHTML += `\n    <div class=\"footer\">\n      <p>📊 Bugün ${selectedNews.length} önemli haber seçildi</p>\n      <p>Bu özet Gemini AI tarafından filtrelenmiştir</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    emailBody: emailHTML,\n    newsCount: selectedNews.length,\n    subject: `📰 Günlük Teknoloji Özeti - ${new Date().toLocaleDateString('tr-TR')} (${selectedNews.length} Haber)`\n  }\n}];"
      },
      "id": "format-email",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        450
      ]
    },
    {
      "parameters": {
        "sendTo": "gulaymuhammed41@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "send-gmail",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1850,
        450
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS - Webrazzi",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - AA Teknoloji",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - ShiftDelete",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - The Verge",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Ars Technica",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - MIT Tech Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - Webrazzi": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - AA Teknoloji": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS - ShiftDelete": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS - TechCrunch": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS - The Verge": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS - Ars Technica": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "RSS - MIT Tech Review": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge All Feeds": {
      "main": [
        [
          {
            "node": "Filter Recent News (24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Recent News (24h)": {
      "main": [
        [
          {
            "node": "Prepare for Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Gemini": {
      "main": [
        [
          {
            "node": "Gemini API - Filter News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API - Filter News": {
      "main": [
        [
          {
            "node": "Parse Gemini Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Selection": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-13T00:00:00.000Z",
  "versionId": "1"
}
